<!doctype html>
<html lang='en'>
    <head>
        <title>Project 1</title>
        <meta charset='utf-8'>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
        <script src='script.js' defer></script>
        <link rel="stylesheet" type="text/css" href="style.css">

    </head>
    <body>
        <h1>Tic Tac Toe</h1>
        <div id='app' v-cloak>
            <div>
                <input type='radio' id='onePlayer' value='1' v-model='numberOfPlayers'>
                <label for='onePlayer'>One Player</label>
                <input type='radio' id='twoPlayers' value='2' v-model='numberOfPlayers'>
                <label for='twoPlayers'>Two Players</label>
            </div>
            <div>
                <p v-if='numberOfPlayers == 1'>
                    <label>What’s your name? <input type='text' v-model='players[0].name' ></label>
                </p>
                <p v-if='numberOfPlayers == 2'>
                    <label>Player 1, what’s your name? <input type='text' v-model='players[0].name' ></label>
                    <label>Player 2, what’s your name? <input type='text' v-model='players[1].name'></label>
                </p>
            </div>                 

            <div v-if='(numberOfPlayers==1 && players[0].name) || (numberOfPlayers == 2 && players[0].name && players[1].name)'>
                <p>{{ players[currentPlayer].name }}'s turn</p>
                <table>
                    <tr v-for="(row,rowindex) in gameTable">
                        <td v-for="(cell,cellindex) in row" 
                            v-on:click='makeMove(rowindex,cellindex)'>
                            {{cell}}
                        </td> 
                    </tr>
                </table>
            </div>

            <div class='results'>
                {{GameResults}}
            </div>
        
            <br/>
            <button v-on:click="onReset">Reset</button>
        </div>
    </body>
</html>